<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerIncludes">
    <title>New Share</title>
</head>
<body>
    <div th:include="fragments/header :: headerFragment"></div>
    <div id="friendsShareTable" th:fragment="friendsShareSection">
        <form id="friendsShareForm" th:method="post" class="form-horizontal" th:object="${share}">
            <div class="container">
                <div th:if="${#fields.hasAnyErrors()}">
			    	<div class="alert alert-danger alert-error">
			            <a href="#" class="close" data-dismiss="alert">&times;</a>
			            <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
			        </div>
			    </div>
                <div class="form-group">
                    <div class="form-group"><h2>New Share</h2></div>
                    <label for="totalAmt" class="control-label col-md-2">Total Amount</label>
                    <div class="col-md-4">
                        <input type="number" th:field="*{totalAmt}" autofocus="autofocus" class="form-control input-lg" min="0" step="any" />
                        <span class="help-block" th:if="${#fields.hasErrors('totalAmt')}" th:errors="*{totalAmt}">Empty Total Amount</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shareTagName" class="control-label col-md-2">Tag Name</label>
                    <div class="col-md-4">
                        <input type="text" th:field="*{shareTagName}" autofocus="autofocus" class="form-control input-lg" />
                        <span class="help-block" th:if="${#fields.hasErrors('shareTagName')}" th:errors="*{shareTagName}">Empty Share Tag Name</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventId" class="control-label col-md-2">Event</label>
                    <div class="col-md-4">
                        <select th:field="*{event.id}" class="form-control input-lg">
                            <option value="0">-- Select --</option>
                            <option th:each="eventIter : ${eventsList}" 
                                th:value="${eventIter.id}" th:text="${eventIter.eventName}" />
                        </select>
                    </div>
                </div>
                <div class="form-group"><h3>Select Friends</h3></div>
                <div class="form-group">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Friend</th>
                                <th>Share</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="friendShare, rowStat : *{friendShares}">
                                <td>
                                    <div class="col-md-6">
                                        <select th:field="*{friendShares[__${rowStat.index}__].friend.id}" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option th:each="friend : ${friendsList}" 
                                                th:value="${friend.id}" th:text="${friend.firstname}" />
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="number" th:field="*{friendShares[__${rowStat.index}__].share}" placeholder="Share..." class="form-control input-lg" min="0" step="any" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
	                <div class="col-md-offset-4 col-md-8">
	                    <button type="button" class="btn btn-primary" th:onclick="'javascript:sendAjaxPost(\'' + @{/share/addFriend} + '\',$(\'#friendsShareTable\'),$(\'#friendsShareForm\'))'">Add friend</button>
	                    <button type="submit" class="btn btn-primary" th:formaction="@{/share/save}">Save Share</button>
	                </div>
	            </div>
            </div>
        </form>
    </div>
</body>
</html>
