<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerIncludes">
    <title>View Share</title>
</head>
<body>
    <div th:include="fragments/header :: headerFragment"></div>
    <div id="friendsShareViewTable" th:fragment="friendsShareViewSection">
        <div th:if="${actionSuccessful == true}" class="alert bg-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
			<span th:text="${actionMsg}">Action successfully performed.</span>
        </div>
        <div th:if="${actionSuccessful == false}" class="alert bg-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
			<span th:text="${actionMsg}">There is some problem performing current operation, please mail to admin for quick resolution.</span>
        </div>
        <form id="friendsShareViewForm" th:method="post" class="form-horizontal" th:object="${share}">
            <div class="container">
                <div class="form-group">
                    <div class="form-group"><h2>View Share</h2></div>
                    <div class="control-label col-md-4">
                        <h4><label for="totalAmt">Total Amount</label></h4>
                    </div>
                    <div class="control-label col-md-4">
                        <h4><span th:text="*{totalAmt}"></span></h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-4">
                        <h4><label for="shareTagName">Share Tag Name</label></h4>
                    </div>
                    <div class="control-label col-md-4">
                        <h4><span th:text="*{shareTagName}"></span></h4>
                    </div>
                </div>
                <div class="form-group" th:if="*{event != null}">
                    <div class="control-label col-md-4">
                        <h4><label for="eventName">Event Name</label></h4>
                    </div>
                    <div class="control-label col-md-4">
                        <h4><span th:text="*{event.eventName}"></span></h4>
                    </div>
                </div>
                <div class="form-group"><h3>Friends shares</h3></div>
                <div class="form-group">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Friend</th>
                                <th class="col-md-3">Share</th>
                                <th class="col-md-3">Paid</th>
                                <th class="col-md-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="friendShare, rowStat : *{friendShares}">
                                <td>
                                    <span th:text="*{friendShares[__${rowStat.index}__].friend.firstname}"></span>
                                </td>
                                <td>
                                    <span th:text="*{friendShares[__${rowStat.index}__].share}"></span>
                                </td>
                                <td>
                                    <span th:if="*{friendShares[__${rowStat.index}__].paid == false}" th:text="No"></span>
                                    <span th:if="*{friendShares[__${rowStat.index}__].paid == true}" th:text="Yes"></span>
                                </td>
                                <td>
								    <!--/* Extra small btn css used, other possibilities btn-sm */-->
                                    <a th:if="*{friendShares[__${rowStat.index}__].paid == false}" class="btn btn-primary btn-xs" th:onclick="'javascript:sendAjaxPost(\'' + @{/share/sendreminder/{shareid}/{friendid}(shareid=*{id},friendid=*{friendShares[__${rowStat.index}__].friend.id})} + '\',$(\'#friendsShareViewTable\'),$(\'#friendsShareViewForm\'))'"> 
                                    <!--/* th:href="@{/share/sendreminder/{shareid}/{friendid}(shareid=*{id}, friendid=*{friendShares[__${rowStat.index}__].friend.id})}"> */-->
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;Send Reminder
                                    </a>
                                    <a th:if="*{friendShares[__${rowStat.index}__].paid == false}" class="btn btn-primary btn-xs" th:onclick="'javascript:sendAjaxPost(\'' + @{/share/markpaid/{shareid}/{friendid}(shareid=*{id},friendid=*{friendShares[__${rowStat.index}__].friend.id})} + '\',$(\'#friendsShareViewTable\'),$(\'#friendsShareViewForm\'))'"> 
                                        <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Mark as paid
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
	            </div>
            </div>
        </form>
    </div>
</body>
</html>
