<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header :: headerIncludes">

</head>
<body>

	<div th:include="fragments/header :: headerFragment"></div>
	<form th:object="${eventsList}">	
		<div class="container">
			<br />
			<h1>View Events</h1>
	
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Event Name</th>
						<th>Venue</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="event, rowStat : *{events}">
					    <td>
					        <span th:text="*{events[__${rowStat.index}__].eventName}"></span>
					    </td>
					    <td>
					        <span th:text="*{events[__${rowStat.index}__].venue}"></span>
					    </td>
					    <td>
					        <span th:text="*{events[__${rowStat.index}__].date}"></span>
					    </td>
					    <td>
					        <a class="btn btn-primary btn-xs" th:href="@{/events/{id}/edit(id=*{events[__${rowStat.index}__].id})}"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
					    </td>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <!--/* <button type="submit" class="btn btn-primary">Add more friends</button>
                    <button type="submit" class="btn btn-primary" th:formaction="@{/friends/save}">Save Friends</button> */-->
                </div>
            </div>
			
		</div>
	</form>
	<div th:include="fragments/footer :: [//footer]"></div>
</body>
</html>