<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerIncludes">
</head>
<body>
    <div th:include="fragments/header :: headerFragment"></div>
    <div th:if="${actionSuccessful == true}" class="alert bg-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <span th:text="${actionMsg}">Action successfully performed.</span>
    </div>
    <div th:if="${actionSuccessful == false}" class="alert bg-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <span th:text="${actionMsg}">There is some problem performing current operation, please mail to admin for quick resolution.</span>
    </div>
</body>
</html>
