<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header :: headerIncludes">

</head>
<body>

	<div th:include="fragments/header :: headerFragment"></div>
	<div id="friendsTable" th:fragment="friendsSection">
		<form id="addFriendsForm" name="addFriendsForm" th:action="@{/friends/addmore}" th:method="post" th:object="${friendsList}">	
			<div class="container">
			    <div th:if="${#fields.hasErrors('*')}">
	<!--                 <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li> -->
	                <div class="alert alert-danger alert-error">
	                   <a href="#" class="close" data-dismiss="alert">&times;</a>
	                   <strong>Error!</strong> A problem has been occurred while submitting your data.
	                   <br/><strong>Possible cases</strong><br/>
	                   <br/>First name is empty
	                   <br/>Email format is not correct
	                </div>
	            </div>
				<br />
				<h1>Add Friends</h1>
	            
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="friend, rowStat : *{friends}">
						    <td>
						        <input type="text" th:field="*{friends[__${rowStat.index}__].firstname}" placeholder="First name..."/>
	<!--/* 					        <span class="help-block" th:if="${friends != null and friends[__${rowStat.index}__] != null and #fields.hasErrors(friends[__${rowStat.index}__].firstname)}" th:errors="*{friends[__${rowStat.index}__].firstname}">Empty First name</span> */-->
						    </td>
						    <td><input type="text" th:field="*{friends[__${rowStat.index}__].lastname}" placeholder="Last name..."/></td>
						    <td>
						        <input type="text" th:field="*{friends[__${rowStat.index}__].email}" placeholder="Email..."/>
	<!--/* 					        <span class="help-block" th:if="${#fields.hasErrors(friends[__${rowStat.index}__].email)}" th:errors="*{friends[__${rowStat.index}__].email}">Invalid email</span> */-->
						    </td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
	                <div class="col-md-offset-4 col-md-8">
	                    <button type="button" class="btn btn-primary" th:onclick="'javascript:sendAjaxPost(\'' + @{/friends/addmore} + '\',$(\'#friendsTable\'),$(\'#addFriendsForm\'))'">Add more friends</button>
	                    <button type="submit" class="btn btn-primary" th:formaction="@{/friends/save}">Save Friends</button>
	                </div>
	            </div>
				
			</div>
		</form>
	</div>
	<div th:include="fragments/footer :: [//footer]"></div>
</body>
</html>