<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header :: headerIncludes">

</head>
<body>

    <div th:include="fragments/header :: headerFragment"></div>
    <div class="container">
        <br />
        <h1>User Dashboard</h1>
        <form th:method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">All shares</label>
                <div class="col-md-4 control-label">
                    <a href="#" th:href="@{/share/viewlist}" autofocus="autofocus"><span th:text="${#lists.size(shareList)}"></span></a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">All events</label>
                <div class="col-md-4 control-label">
                    <a href="#" th:href="@{/events/showall}" autofocus="autofocus"><span th:text="${#lists.size(eventList)}"></span></a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">All friends</label>
                <div class="col-md-4 control-label">
                    <a href="#" th:href="@{/friends/showall}" autofocus="autofocus"><span th:text="${#lists.size(friendList)}"></span></a>
                </div>
            </div>
        </form>
    </div>
    <div th:include="fragments/footer :: [//footer]"></div>
</body>
</html>