<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header :: headerIncludes">
	
</head>
<body>
<div th:include="fragments/header :: headerFragment">
</div>
<div class="container">
	<br/>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
      You are authorized user! Hi, <span sec:authentication="name">Username</span>
    </div>
    <div sec:authorize="isAnonymous()">
       You are NOT authorized user!
    </div>
<!-- 	<div class="span10 offset1"> -->
<!-- 		<span class="alert alert-success" th:text="${'User login : '+sec.principal.username}">User login : foo bar</span> -->
<!-- 		<br/><br/> -->
<!-- 		<span class="alert alert-success" th:text="${'User authorities : '+ #strings.listJoin(sec.principal.authorities,',')}">User authorities : simple user</span> -->
<!-- 	</div> -->
	 <div th:include="fragments/footer :: [//footer]"></div>
</div>

</body>
</html>