<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users Page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
    	<form th:action="@{/updateuser}" method="post" th:object="${userList}">
	        <table>
	          <tr th:each="user1, rowStat : ${users}">
	            <td th:text="${{user1.firstName}}">testname</td>
<!-- 	            <td><input type="text" name="firstName" value="James Carrot" th:value="${user1.firstName}" /></td> -->
				<td><input type="text" th:field="*{users[__${rowStat.index}__].firstName}" placeholder="Option..."/></td>
	          </tr>
	          <tr>
	          	<td><input type="text" th:field="${name.nameStr}" placeholder="Name..."/></td>
	          	<td><input type="text" th:field="${status.statusStr}" placeholder="Status..."/></td>
	          </tr>
	        </table>
	        <input type="submit" />
	    </form>
	    <div th:include="fragments/footer :: [//footer]"></div>
    </body>
</html>